[proxmox_vms]
%{ for vm in vms ~}
# try関数を使って、IPが取れない場合は一時的に "pending" と表示させる
${vm.name} ansible_host=${try(flatten(vm.ipv4_addresses)[0], "pending")} ansible_user=bababa
%{ endfor ~}

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'