[proxmox_vms]
%{ for vm in vms ~}
%{ if try(flatten(vm.ipv4_addresses)[1], "") != "" ~}
${vm.name} ansible_host=${try(flatten(vm.ipv4_addresses)[1], "")}
%{ endif ~}
%{ endfor ~}

[all:vars]
ansible_user=ansible
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'