[proxmox_vms]
%{ for vm in vms ~}
%{ 
  valid_ips = [for ip in flatten(vm.ipv4_addresses) : ip if ip != "127.0.0.1" && ip != ""]
  final_ip = length(valid_ips) > 0 ? valid_ips[0] : ""
~}
%{ if final_ip != "" ~}
${vm.name} ansible_host=${final_ip}
%{ endif ~}
%{ endfor ~}

[all:vars]
ansible_user=ansible
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'